doctype html
html
  head
    title Micro Library
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='description' content='ermahgerd berks')
    meta(name='author' content='Larry Price <larry.price.dev@gmail.com>')
  body
    | uh yeeeeees?
  
